.-flex-column{
	display: flex;
	flex-direction: column;
}

.-gap-medium{
	gap: var(--spacing-medium)
}

.-gap-small {
	gap: var(--spacing-small);
}

.-gap-big {
	gap: var(--spacing-big);
}

.bg {
	position: absolute;
	z-index: 1
}

.-bg-right {
	right: 0;
	top: 25%;
	bottom: auto;
	;
}

.-bg-top {
	top: 0;
	bottom: auto;
}