.bg::before{
	position: absolute;
	z-index: -1	
}

.bg::after{
	position: absolute;
	z-index: -1	
}

.bg.-body-bg-left::before{
	content: '';
	background-image: url('../../assets/images/body-bg-2.svg');
	background-size: contain;
	background-repeat: no-repeat;
	width: 84px;
	height: 415px;
	left: 0;
	right: auto;
	top: auto;
	bottom: 134px;
}

.bg.-body-bg-right::after{
	background-image: url('../../assets/images/body-bg.svg');
	background-size: contain;
	background-repeat: no-repeat;
	content: '';
	width: clamp(84px, 30%, 200px);
	height: clamp(415px, 80vw, 664px);
	top: 200px;
	right: calc(-0.6*clamp(84px, 30%, 200px));
}

.-body-bg-pets{
	background-image: url('../../assets/images/pets.svg');
	background-size: 100%;
	background-repeat: no-repeat;
	width: clamp(247px, 30vw, 338px);
	height: clamp(312px, 39vw, 427px);
	background-position: bottom;
	flex-shrink: 0;
	flex-grow: 1;
}

.bg.-header-bg-left::before{
	background-image: url('../../assets/images/header-bg.svg');
	background-size: 100%;
	background-repeat: no-repeat;
	content: '';
	display: inline-flex;
	width: 80vw;
	height: 80vh;
	max-height: 476px;
	min-width: 267px;
	max-width: 527px;
}

.bg.-header-bg-right::after{
	background-image: url('../../assets/images/paws.png');
	background-size: 100%;
	background-repeat: no-repeat;
	content: '';
	display: inline-flex;
	width: clamp(148px, 30%, 292px);
	height: 374px;

	top: 0;
	bottom: auto;
	right: 0;
	left: auto;
}

.bg.-lost::before{
	content: url('../../assets/images/pets-lost.png');
	left: auto;
	right: auto;
	top: auto;
	bottom: 0;
}