.btn {
	background-color: var(--color-tertiary);
	border: none; 
	border-radius: var(--spacing-radius);	
	font: var(--font-button);
	color: var(--color-zero);
	
	padding: var(--spacing-small);

	height: 40px;
	width: clamp(148px, 21.4vw, 174px);
}