.btn {
	background-color: var(--color-tertiary);
	border: none; 
	border-radius: var(--spacing-radius);
	box-shadow: 2px 2px rgb(0, 0, 0, .7); 
	
	font: var(--font-button);
	color: var(--color-zero);
	
	padding: var(--spacing-small);
}