.btn {
	background-color: var(--color-tertiary);
	border: none; 
	border-radius: var(--spacing-radius);	
	font: var(--font-button);
	color: var(--color-zero);
	
	padding: var(--spacing-small);
}

.-btn-size-default {
	height: 40px;
	width: 148px;
}

.-btn-size-medium {
	height: 40px;
	width: 181px;
}