body.petspg main {
	gap: unset;
}

.pets-wrapper {
	overflow-x: hidden;
	overflow-y: scroll;
	margin-top: var(--spacing-largest);
}

.card-wrapper~.card-wrapper{
	margin-top: var(--spacing-medium);
}
