.textarea-wrapper{
	width: 100%;
}

.label {
	font: var(--font-label)
}

.-label-align-center {
	text-align: center;
}

.-label-color-dark {
	color:  var(--color-negative);
}

.textarea {
	color:  var(--color-negative);
}

.input.-input-center::placeholder {
	text-align: center;
}

.textarea.-textarea-default{
	background-color:  var(--color-quaternary);
}

.textarea.-textarea-white{
	background-color:  var(--color-zero);
}

.textarea.-textarea-default::placeholder {
	color:  var(--color-senary);
}

.textarea.-textarea-white::placeholder {
	color:  var(--color-senary);
}
