.link-btn {
	background-color: var(--color-tertiary);
	border: none; 
	border-radius: var(--spacing-radius);	
	font: var(--font-button);
	line-height: normal;
	color: var(--color-zero);
	
	padding: var(--spacing-small);

	height: clamp(40px, 20vw, 48px);
	width: clamp(181px, 25vw, 362px);

	text-decoration: none;
	text-align: center;
}