html{
	font-size: var(--size-base);
	font-family: var(--font-primary);
	color: var(--color-zero);
	height: 100vh;
	width: 100vw;
}

body {
	height: 100%;
	font: var(--font-body);
	background-color: var(--color-zero);
	color: var(--color-primary);
}

#root, main {
	width: 100%;
	height: 100%;
	min-height: 100%;
	max-height: 100%;
	overflow: hidden;
}

main{
	display: flex;
	flex-direction: column;
	z-index: 0;
	align-items: center;
	padding: var(--spacing-big);
	gap: var(--spacing-big);
	overflow-y: auto;
}

main > *{
	z-index: 2
}

input, textarea {
	border: none; 
	border-radius: var(--spacing-radius);
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15); 
	
	font: var(--font-body-xs);
	color:  var(--color-quinary);
	
	padding: var(--spacing-small);
}

form {
	border-radius: var(--spacing-radius-bg);
	width: 100%;
}

p {
	text-align: center;
	line-height: 1.3em;
}

p ~ p {
	margin-top: var(--spacing-small);
}

a {
	font: var(--font-body-xxs);
	color: var(--color-tertiary);
}

ul, ol {
	list-style: none;
}