.input-wrapper{
	width: 100%;
}

.input-wrapper-password {
	position: relative;
	width: 100%;
}

.reveal-ico-wrapper {
	position: absolute;
	right: 0;
	top: 0;
	width: 24px;
	height: 40px;
	padding: 2px;
	display: flex;
	align-items: center;
}

.reveal-ico-wrapper:hover>.reveal-ico>path {
	fill: var(--color-tertiary);
}

.label {
	font: var(--font-label)
}

.-label-align-center {
	text-align: center;
}

.-label-color-dark {
	color:  var(--color-negative);
}

.input {
	color:  var(--color-negative);
	width: 100%;
}


.input.-input-center::placeholder {
	text-align: center;
}

.input.-input-default{
	background-color:  var(--color-quaternary);
}

.input.-input-white{
	background-color:  var(--color-zero);
}

.input.-input-default::placeholder {
	color:  var(--color-senary);
}

.input.-input-white::placeholder {
	color:  var(--color-senary);
}

