.header{
	position: relative;
}

.header-menu-wrapper{
	width: clamp(267px, 80vw, 527px);
	padding: 48px;
	display: inline-flex;
	align-items: center;
	gap: 40px;
}

.header-logo-wrapper{
	width: 100vw;
	display: inline-flex;
	justify-content: center;
}

.header.-header-colored {
	background-color: var(--color-primary);
}

.header-menu-wrapper > .logo {
	width: 128px;
}

.user-menu {
	display: inline-flex;
	height: 40px;
	width: 40px;
	position: absolute;
	top: 40px;
	right: 37px;
}

