:root {
	--color-negative: #737380;
	
	--color-zero: #FFFFFF;
	
	--color-primary: #3772FF;
	--color-secondary:  #36D6AD;
	--color-tertiary: #FC7071;
	--color-quaternary: #FCF0E3;
	--color-quinary: #F7F7F7;
	--color-senary: #BCBCBC;
}