 :root {
    --spacing-radius: 6px;
    --spacing-radius-bg: 10px;

    --spacing-small: 8px;
    --spacing-medium: 16px;
    --spacing-large: 20px;
    --spacing-big: 24px;
    --spacing-largest: 32px;
 } 